*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 320px;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}
.box{
    background: #F23C50;
    width: 100%;
    float: left;
    padding: 30px 10px;
    min-height: 300px;
    margin-top: 10px;
    
}
input{
    width: 100%;
    display: block;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: transparent;
    margin-bottom: 10px;
    font-size: 16px;
}
input::placeholder{
    color: #ffffff;
    
}
input:focus, button:focus{
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}
button{
    padding: 0 32px;
    height: 34px;
    line-height: 32px;
    background:rgba(0, 0, 0, .2);
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 16px;
}
h2{
    color: #ffffff;
    margin: 20px 0;
    text-transform: capitalize;
}